@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(213, 19%, 18%);
    color: #fff;
    width: 380px;
    height: 380px;
    padding: 30px;
    border-radius: 25px;
}
/* .rating {
    display: none;
} */
.star {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(220, 16%, 22%);
    margin-bottom: 30px;
}

/* TEXT */
.title {
    font-size: 25px; 
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    color: hsl(216, 12%, 54%);
    margin-bottom: 30px;
}

/* NUMBER STAR */
.number-star {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.number {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background-color: hsl(220, 16%, 22%);
    color: hsl(216, 12%, 54%);
    cursor: pointer;
}

.selected {
    background-color: hsl(217, 12%, 63%);
    color: #fff;
}

.number:hover {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

/* SUBMIT */
.submit {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

/* THANKS */
.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thanks img {
    margin-bottom: 25px;
    margin-top: 10px;
}

.result {
    height: 30px;
    font-size: 14px;
    color: hsl(30, 97%, 53%);
    background-color: hsl(220, 16%, 22%);
    padding: 0 15px;
    border-radius: 15px;
    line-height: 32px;
    margin-bottom: 30px;
}

.thanks {
    display: none;
}